.profile__describe {
    margin: auto;
    margin-top: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 320px) {
    .profile__describe {
        font-size: 14px;
        margin: 14px auto auto;
        text-align: center;
    }
}